<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Amaze UI 是一个移动优先的跨屏前端框架。">
    <meta name="keywords" content="HTML, HTML5, CSS, CSS3, JS, JavaScript, framework, Amaze UI, front-end, frontend, web development, 前端框架, 开源, meizi, meizi UI, 妹子UI, Web Components">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>开始使用 | Amaze UI</title>
    <meta name="renderer" content="webkit"><meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="alternate icon" type="image/png" href="http://s.amazeui.org/assets/2.x/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="http://s.amazeui.org/assets/2.x/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"><meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="http://s.amazeui.org/assets/2.x/css/amazeui.min.css?v=idfai718">
    <link rel="stylesheet" href="http://s.amazeui.org/assets/2.x/css/amaze.min.css?v=idfai718">
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="http://s.amazeui.org/assets/2.x/js/jquery.min.js"></script>
    <!--<![endif]--><!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.amazeui.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="http://s.amazeui.org/assets/2.x/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script src="http://s.amazeui.org/assets/2.x/js/amazeui.min.js?v=idfai718"></script>
    <link rel="canonical" href="http://amazeui.org/getting-started?_ver=2.x">
    <script src="//hm.baidu.com/hm.js?b424d39312c46404f15e22574a531fbb"></script>
</head>
<body class data-amui="2.x">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<!--Header  start -->
<header id="amz-header">
    <div class="amz-container am-cf">
        <h1><a href="/">Amaze UI</a>
        <span class="am-badge am-badge-danger">0.1</span>
        </h1>
        <button class="am-btn am-btn-primary am-show-sm-only" data-am-collapse="{target: '.amz-header-nav'}">
            <span class="am-sr-only">导航切换</span>
            <span class="am-icon-bars"></span>
        </button>
        <nav>
            <ul class="amz-header-nav am-collapse">
                <li><a href="/getting-started">产品1222111</a></li>
                <li class="am-active"><a href="/css">技术服务</a></li>
                <li><a href="/javascript">下载</a></li>
                <li><a href="/widgets">联系我们</a></li>
                <li class="nav-react">


                <li class="amz-cse">
                    <form action="http://zhannei.baidu.com/cse/search" method="get" target="_blank" class="cse-form">
                    <input type="hidden" name="s" value="13988471460650623274">
                    <input type="hidden" name="entry" value="1">
                    <input type="text" required="" name="q" placeholder="搜索" autocomplete="off">
                    <button><span class="am-icon-search"></span></button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!--Header  END -->
<div class="amz-banner"><div class="amz-container am-scrollspy-init am-scrollspy-inview am-animation-scale-up" data-am-scrollspy="{animation: 'scale-up', repeat: false}"><h1>JS 插件</h1><p>Amaze UI JS 插件，使用注意事项，以及 JS 插件介绍。</p></div></div>

<section class="" id="amz-main" data-tag="css">
<div class="am-g am-g-fixed">
    <div class="col-md-3 am-u-md-3">
        <div class="am-sticky-placeholder" style="margin: 0px; ">
            list it
        </div>
    </div>
    <div class="col-md-9 am-u-md-9 doc-content">
        <h1>test</h1>
    </div>
</div>


</section>


<!--FOOTER START -->
<footer class="amz-footer">
    <div class="am-g am-g-fixed">
        <div class="col-md-4 col-md-push-8 am-u-md-4 am-u-md-push-8">
            <ul class="amz-social">
                <li><a href="/about/contact">
                    <span class="am-icon-qq"></span></a>
                </li>
                <li>
                    <a href="http://weibo.com/" title=" 微博" target="_blank"><span class="am-icon-weibo"></span></a>
                </li>
                <li>
                    <a href="#am-wechat" title="微信" data-am-modal=""><span class="am-icon-wechat"></span></a>
                </li>
                <li>
                    <a class="new-issue" href="/" target="_blank" title="Bug 反馈"><span class="am-icon-paper-plane"></span></a>
                </li>
            </ul>
        </div>
        <div class="col-md-8 col-md-pull-4 am-u-md-8 am-u-md-pull-4">
            <h2 class="amz-fd"><a>云适配</a></h2>
            <ul class="amz-links">
                 <a href="/1.x">存档：v1.x</a>
            </ul>
            <p class="amz-cp">© 2015 AllMobilize, Inc. Licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>. Developed with <a href="http://www.jetbrains.com/webstorm/" target="_blank">WebStorm</a>.</p>
        </div>
    </div>
</footer>

<!--FOOTER END -->
<!--[if lt IE 9]>
<script>
    {
        $('#slider').flexslider('play');

    }
</script>

<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/statics/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="http://s.amazeui.org/assets/2.x/js/handlebars.min.js"></script>
<script src="http://s.amazeui.org/assets/2.x/js/main.min.js"></script>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="http://s.amazeui.org/assets/2.x/js/ZeroClipboard.min.js"></script>
<script src="/statics/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/statics/js/amazeui.min.js"></script>
<script src="/statics/js/app.js"></script>
</body>

</html>