            <div class="am-panel-group">
                <section class="am-panel am-panel-default">
                    <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-5'}">修改记录<span
                            class="am-icon-chevron-down am-fr"></span></div>
                    <div id="collapse-panel-5" class="am-panel-bd am-collapse am-in">

                        <ul class="am-list blog-list">
                            {% for change in verionBlog.changelog.default %}
                            <li><a href="xblog/{{ change.refernceXele }}">{{ change.tag }}</a></p>{{ change.lastChange.strftime('%b %d, %Y') }} 由 {{ change.operator }}
                                修改 </li>
                            {% end %}
                        </ul>
                    </div>
                </section>
            </div>
