<div class="amz-toolbar" id="amz-toolbar" style="right: 10px;">
    <a href="#top" title="回到顶部" class="am-icon-btn am-icon-arrow-up am-active" id="amz-go-top"></a>
    <a href="#doc-oc-demo1" data-am-offcanvas title="素材库" class="am-icon-faq am-icon-btn am-icon-question-circle"></a>
</div>


<div id="doc-oc-demo1" class="am-offcanvas">
    <div class="am-offcanvas-bar">
        <div class="am-offcanvas-content">

            <h1>素材板</h1>
            可临时将素材存放在这里
            </br>
            <ul class="">
                <li><div class="container">
                    <img class="am-img-thumbnail am-img-bdrs"
                         src="http://www.huabian.com/uploadfile/2015/0319/20150319034243973.jpg"
                         alt="">
                    <div class="am-btn-toolbar am-fr">
                            <div class="am-btn-group am-btn-group-xs ">

                            <button type="button" class="am-btn am-btn-default" onclick="javascript:archXblogNote('55e490bef907a527a4a2521f',0);"><span class="am-icon-check"></span></button>
                            <button type="button" class="am-btn am-btn-default" onclick="javascript:delXblogNote('55e490bef907a527a4a2521f',0);"><span class="am-icon-times"></span></button>
                            </div>
                    </div>
                    </div>
                </li>
                <li><div class="container">
                    <img class="am-img-thumbnail am-img-bdrs"
                         src="http://www.huabian.com/uploadfile/2015/0319/20150319034243973.jpg"
                         alt="">
                    <div class="am-btn-toolbar am-fr">
                            <div class="am-btn-group am-btn-group-xs ">

                            <button type="button" class="am-btn am-btn-default" onclick="javascript:archXblogNote('55e490bef907a527a4a2521f',0);"><span class="am-icon-check"></span></button>
                            <button type="button" class="am-btn am-btn-default" onclick="javascript:delXblogNote('55e490bef907a527a4a2521f',0);"><span class="am-icon-times"></span></button>
                            </div>
                    </div>
                    </div>
                </li>
                <li>在w3school，你可以找到你所需要的所有的网站建设教程。</li>

                <li><textarea class="am-u-sm-12 am-u-md-12"></textarea></li>
                <li><a class="am-btn am-btn-success am-btn-sm " href="#">Add link</a>
                    <a class="am-btn am-btn-success am-btn-sm " href="#">检测剪切板</a>
                </li>
            </ul>
        </div>
    </div>
</div>