<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="/xacesite/statics/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="/xacesite/statics/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="/xacesite/statics/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->

  <link rel="stylesheet" href="/xacesite/statics/css/amazeui.min.css">
  <link rel="stylesheet" href="/xacesite/statics/css/app.css">
      <title>{{ PAGE_TITLE}}</title>
</head>
<body>

<header class="am-topbar am-topbar-fixed-top xace-header am-topbar-inverse">
  <div class="am-container">
    <h1 class="am-topbar-brand">
      <a href="#">Xace.in </a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
            data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
        class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="collapse-head">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li class="am-active"><a href="#">首页</a></li>
        <li><a href="#">项目</a></li>
        <li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
            下拉菜单 <span class="am-icon-caret-down"></span>
          </a>
          <ul class="am-dropdown-content">
            <li class="am-dropdown-header">标题</li>
            <li><a href="#">1. 默认样式</a></li>
            <li><a href="#">2. 基础设置</a></li>
            <li><a href="#">3. 文字排版</a></li>
            <li><a href="#">4. 网格系统</a></li>
          </ul>
        </li>
      </ul>

      <div class="am-topbar-right">
        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"><span class="am-icon-pencil"></span> 注册</button>
      </div>

      <div class="am-topbar-right">
        <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm"><span class="am-icon-user"></span> 登录</button>
      </div>
    </div>
  </div>
</header>
<!-- start Content -->
<!-- start Banner -->
<div class="amz-banner"><div class="amz-container am-scrollspy-init am-scrollspy-inview am-animation-scale-up" data-am-scrollspy="{animation: 'scale-up', repeat: false}"><h1>JS 插件</h1><p>Amaze UI JS 插件，使用注意事项，以及 JS 插件介绍。</p></div></div>
<!-- End Banner -->

<div data-am-widget="slider" class="am-slider am-slider-d2 amz-container" data-am-slider='{&quot;directionNav&quot;:false}' >
  <ul class="am-slides">
      <li>
        	<img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
          <div class="am-slider-desc"><div class="am-slider-content"><h2 class="am-slider-title">远方 有一个地方 那里种有我们的梦想</h2><p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p></div><a class="am-slider-more">了解更多</a></div>

      </li>
      <li>
        	<img src="http://s.amazeui.org/media/i/demos/bing-2.jpg">
          <div class="am-slider-desc"><div class="am-slider-content"><h2 class="am-slider-title">某天 也许会相遇 相遇在这个好地方</h2><p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p></div><a class="am-slider-more">了解更多</a></div>

      </li>
      <li>
        	<img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
          <div class="am-slider-desc"><div class="am-slider-content"><h2 class="am-slider-title">不要太担心 只因为我相信 终会走过这条遥远的道路</h2><p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p></div><a class="am-slider-more">了解更多</a></div>

      </li>
      <li>
        	<img src="http://s.amazeui.org/media/i/demos/bing-4.jpg">
          <div class="am-slider-desc"><div class="am-slider-content"><h2 class="am-slider-title">OH PARA PARADISE 是否那么重要 你是否那么地遥远</h2><p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内</p></div><a class="am-slider-more">了解更多</a></div>

      </li>
  </ul>
</div>
<div class="am-g amz-container">

  <div class="am-g ">
          <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 detail-mb">

            <h3 class="detail-h3">
              <i class="am-icon-mobile am-icon-sm"></i>
              为移动而生
            </h3>

            <p class="detail-p">
              Amaze UI 采用业内先进的 mobile first 理念，从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。
            </p>
          </div>
          <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 detail-mb">
            <h3 class="detail-h3">
              <i class="am-icon-cogs am-icon-sm"></i>
              组件丰富，模块化
            </h3>

            <p class="detail-p">
              Amaze UI 含近 20 个 CSS 组件、10 个 JS 组件，更有 17 款包含近 60 个主题的 Widgets，可快速构建界面出色、体验优秀的跨屏页面，大幅度提升你的开发效率。
            </p>
          </div>
          <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 detail-mb">
            <h3 class="detail-h3">
              <i class="am-icon-check-square-o am-icon-sm"></i>
              本地化支持
            </h3>

            <p class="detail-p">
              相比国外的前端框架，Amaze UI 专注解决中文排版优化问题，根据操作系统调整字体，实现最佳中文排版效果；针对国内主流浏览器及 App 内置浏览器提供更好的兼容性支持，为你节省大量兼容性调试时间。
            </p>
          </div>

  </div>
</div>

<!-- end Content -->
<!-- start FOOTER -->
<footer class="amz-footer">
    <div class="am-g am-g-fixed">
        <div class="col-md-4 col-md-push-8 am-u-md-4 am-u-md-push-8">
            <ul class="amz-social">
                <li><a href="/about/contact">
                    <span class="am-icon-qq"></span></a>
                </li>
                <li>
                    <a href="http://weibo.com/" title=" 微博" target="_blank"><span class="am-icon-weibo"></span></a>
                </li>
                <li>
                    <a href="#am-wechat" title="微信" data-am-modal=""><span class="am-icon-wechat"></span></a>
                </li>
                <li>
                    <a class="new-issue" href="/" target="_blank" title="Bug 反馈"><span class="am-icon-paper-plane"></span></a>
                </li>
            </ul>
        </div>
        <div class="col-md-8 col-md-pull-4 am-u-md-8 am-u-md-pull-4">
            <h2 class="amz-fd"><a>云适配</a></h2>
            <ul class="amz-links">
                 <a href="/1.x">存档：v1.x</a>
            </ul>
            <p class="amz-cp">© 2015 AllMobilize, Inc. Licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>. Developed with <a href="http://www.jetbrains.com/webstorm/" target="_blank">WebStorm</a>.</p>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
<!-- 以上页面内容 开发时删除 -->

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/xacesite/statics/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/xacesite/statics/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/xacesite/statics/js/amazeui.min.js"></script>

</body>
</html>