<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/xacesite/statics/amaze/css/amazeui.min.css">
    <link rel="stylesheet" href="/xacesite/statics/amaze//css/app.css">
    <link rel="stylesheet" href="/xacesite/statics/google-code-prettify/prettify.css">

    <link rel="stylesheet" href="/xacesite/statics/jquerytaginput/jquery.tagsinput.css">

    <link rel="stylesheet" type="text/css" href="/xacesite/statics/jqueryDataTables/jquery.dataTables.min.css">

    <title></title>
</head>
<body>
<table class="am-table am-table-bordered am-table-striped am-table-compact" id="my-table">

<thead>
<tr>
<th class="">参数名称</th>
<th>参数内容</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>Amaze UI</td>
<td>http://amazeui.org</td>
<td>2012-10-01</td>
</tr>
<tr>
<td>Amaze UI</td>
<td>http://amazeui.org</td>
<td>2012-10-01</td>
</tr>
<tr class="am-active">
<td>Amaze UI(Active)</td>
<td>http://amazeui.org</td>
<td>2012-10-01</td>
</tr>
<tr>
<td>Amaze UI</td>
<td>http://amazeui.org</td>
<td>2012-10-01</td>
</tr>
<tr>
<td>Amaze UI</td>
<td>http://amazeui.org</td>
<td>2012-10-01</td>
</tr>
</tbody>
</table>
</body>


<script src="/xacesite/statics/amaze/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/xacesite/statics/amaze/js/amazeui.min.js"></script>
<script type="text/javascript" language="javascript" src="/xacesite/statics/jqueryDataTables/jquery.dataTables.min.js"></script>
<script>

    $(document).ready(function(){
    $('#my-table').DataTable();
});
</script>
</html>