<div class="am-comment">
        <a class="am-comment-avatar" href="javascript:void(0);" onclick="return false"><img
        src="http://static.duoshuo.com/images/noavatar_default.png" alt=""></a>
<div class="am-comment-main ">

    <div class="am-comment-hd">
            <textarea class=" am-u-lg-12" name="message" title="Ctrl+Enter快捷提交"
                                                                  placeholder="说点什么吧…"></textarea>
    </div>
       <button class=" am-fr am-btn am-btn-primary am-btn-xs" type="submit">发布</button>
</div>

</div>
