<div class="am-panel am-panel-default">
<div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-recently'}">最新动态<span class="am-icon-chevron-down am-fr"></span></div>
<div class="am-panel-bd am-collapse am-in am-cf" id="collapse-panel-recently">

<div data-am-widget="list_news" class="am-list-news am-list-news-default am-no-layout">

    <div class="am-list-news-bd">
        <ul class="am-list">
            <li class="am-g am-list-item-dated"><a href="##" class="am-list-item-hd">我很囧，你保重....晒晒旅行中的那些囧！</a> <span
                    class="am-list-date">2013-09-18</span></li>
            <li class="am-g am-list-item-dated"><a href="##" class="am-list-item-hd">我最喜欢的一张画</a> <span
                    class="am-list-date">2013-10-14</span></li>
            <li class="am-g am-list-item-dated"><a href="##" class="am-list-item-hd">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
                <span class="am-list-date">2013-11-18</span></li>
            <li class="am-g am-list-item-dated"><a href="##" class="am-list-item-hd">我很囧，你保重....晒晒旅行中的那些囧！</a> <span
                    class="am-list-date">2013-09-18</span></li>
            <li class="am-g am-list-item-dated"><a href="##" class="am-list-item-hd">我最喜欢的一张画</a> <span
                    class="am-list-date">2013-10-14</span></li>
            <li class="am-g am-list-item-dated"><a href="##" class="am-list-item-hd">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
                <span class="am-list-date">2013-11-18</span></li>
        </ul>
    </div>
</div>
</div>
</div>

