                <div class="am-slider am-slider-default"
                     data-am-flexslider="{controlNav: 'thumbnails', directionNav: false, slideshow: false}">
                    <div class="am-viewport" style="overflow: hidden; position: relative;">
                        <ul class="am-slides"
                            style="width: 1200%; -webkit-transition-duration: 0s; transition-duration: 0s; -webkit-transform: translate3d(-1376px, 0px, 0px); transform: translate3d(-1376px, 0px, 0px);">
                            <li data-thumb="http://s.amazeui.org/media/i/demos/pure-4.jpg?imageView2/0/w/360"
                                class="clone"
                                aria-hidden="true" style="width: 688px; float: left; display: block;"><img
                                    src="http://s.amazeui.org/media/i/demos/pure-4.jpg" draggable="false"></li>
                            <li data-thumb="http://s.amazeui.org/media/i/demos/pure-1.jpg?imageView2/0/w/360" class=""
                                style="width: 688px; float: left; display: block;"><img
                                    src="http://s.amazeui.org/media/i/demos/pure-1.jpg" draggable="false"></li>
                            <li data-thumb="http://s.amazeui.org/media/i/demos/pure-2.jpg?imageView2/0/w/360"
                                class="am-active-slide" style="width: 688px; float: left; display: block;"><img
                                    src="http://s.amazeui.org/media/i/demos/pure-2.jpg" draggable="false"></li>
                            <li data-thumb="http://s.amazeui.org/media/i/demos/pure-3.jpg?imageView2/0/w/360"
                                style="width: 688px; float: left; display: block;"><img
                                    src="http://s.amazeui.org/media/i/demos/pure-3.jpg" draggable="false"></li>
                        </ul>
                    </div>

                </div>